<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat App</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-col-md-6">
                <div class="card mt-5">
                    <div class="card-header bg-info text-white">
                        Chat app
                    </div>
                    <div class="card-body">
                        <div class="chat-body mb-5">
                            <ul class="">
                                <li class="border-1 p-2 mb-2" v-for="message in messages">
                                    <span :class="message.type == 0 ? 'float-end' : ''">{{message.message}}</span>
                                </li>
                            </ul>
                        </div>
                        <form @submit.prevent="sendMessage">
                            <p v-if="typing" class="text-secondary">typing...</p>
                            <div class="form-group">
                                <input v-model="newMessage" type="text" class="form-control" placeholder="type here">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
<script>
    var socket = io();
    let app    = new Vue({
        el     : '#app',
        data   : {
            newMessage: '',
            messages  : [],
            typing    : false
        },
        created() {
            console.log('vue created')
            socket.emit('created', 'hello')
            socket.on('created', (data) => {
                console.log(data);
            });
            socket.on('chatMessage', (data) => {
                this.messages.push({
                    'message': data,
                    'type'   : 1
                });
            })
            socket.on('typing', (data) => {
                this.typing = true
            })
            socket.on('stopTyping', (data) => {
                this.typing = false
            })
        },
        methods: {
            sendMessage() {
                this.messages.push({
                    'message': this.newMessage,
                    'type'   : 0
                });
                socket.emit('chatMessage', this.newMessage);
                this.newMessage = '';
            }
        },
        watch  : {
            newMessage(newVal, oldVal) {
                newVal ? socket.emit('typing') : socket.emit('stopTyping');
                console.log('djkkjd')
            }
        }
    })
</script>
</body>
</html>